<%- view_title "Update OSCAL Layer - #{ @oscal_layer.title }" %>

<% content_for :main do %>
<div class="row">
  <div class="col-12">
    <h1>Update OSCAL Layer</h1>

    <%= oscal_layers_form %>

    <h2>OSCAL Models</h2>
  </div>
</div>
<% end %>