<!DOCTYPE html>
<html>
  <%= render partial: "shared/head" %>

  <body>
    <%= render partial: "shared/nav" %>

    <main role="main" class="container">
      <%= yield :main %>
    </main>

    <%= render partial: "shared/foot" %>
  </body>
</html>
